.pokemon-move-description {
  display: flex;
  flex-flow: column;
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  box-shadow: 2px 2px #888;
  background: white;
}

.move-description-header {
  text-align: center;
}

.move-unordered-list {
  padding: 0;
  display: grid;
  grid-row-gap: 1em;
}

.move-list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid grey;
}

.move-attribute {
  padding: 0rem 0.5rem;
  text-transform: uppercase;
}

.move-attribute-value {
  padding: 0rem 0.5rem;
  justify-self: right;
}
