.pokemon-description {
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  box-shadow: 2px 2px #888;
  padding-left: 1em;
  background: white;
}

.pokemon-description-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  text-transform: capitalize;
}

#description-header-add {
  justify-self: end;
  align-self: start;
  padding: 0;
  line-height: 3rem;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
}
