.poke-team-builder {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  background-color: red;
}

.ash-flip {
  border: 2px solid black;
  box-shadow: 2px 2px #888;
}
