.team-title {
  text-align: center;
}

.poke-picture:hover {
  background-image: url('https://files.thetriangle.org/assets/pokemon/ball-poke.png');
  background-size: cover;
  border-radius: 50px;
  border: 2px solid black;
}

.pokemon-team {
  width: 20rem;
  height: auto;
  max-height: 700px;
  border: 2px solid black;
  box-shadow: 2px 2px #888;
  background: white;
}

.poke-bullets {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.delete-button {
  border-radius: 25px;
}
